           <div class="tweet" id="tweetItem<%=tweet_id%>">
                         <div class="span1"><span class="tweetimage"><img src="img/gaurav.jpg" height="58px" width="58px"/></span></div>
                         <div class="span11">
                             <span class="time"> <%=timeDiff%></span>
                             <span class="tweetheader">(<a href="/user/<%=username%>"><%=username%></a>)</span><br>
                             <span id="itemName<%=tweet_id%>" class="tweettext"><%=tweet%>!</span>
                             <span class="reply"><a id="re" href="#" >Reply</a></span>
                         </div>
                     </div>